<a href="https://colab.research.google.com/github/Yogeshv01/SQL_PROJECTS_BY_CLASS/blob/main/RMF_Analysis_Using_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Propensity model
 Propensity modelling is customer insight technique which utilizes past observation analysis to predict future behavior. A single view of the consumer is created by data analytics so as to identify who the target is for the current or new products and/or services depending on the value they expect to contribute. Propensity simply predicts the likelihood that a customer will behave or act in a certain way in future.

# PROBLEM statement
We have large number of customers. Our sales team would like to call potential customers who can by our service. We don't have to enough manpower & time to call & reach every customer & convinence them for our products. Also we need to rank customer so that we could offer them our product & services with discounted price.

# Workflow 
-Customer Segmentation.

-Potential Vs Non-potential.

-Who Can Buy Our Services In Current Month? (Predicted Sales For 30, 60, 90 days)

-Customer Lifetime Values(CLTV). Live Vs Dead Customers

-Cohort Analysis.

-Lifetime Package. (Recency, Frequency, Monetory, Analysis)

![Screenshot 2022-06-10 072320.png]()

# IMPORTING PACKAGES

In [2]:
#import pandas and numpy module:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib import style 
from numpy import *
import datetime as dt

# Load the Data

In [6]:
Online_Retail = pd.read_excel('/content/drive/MyDrive/Rajesh_Class/Files/Online Retail.xlsx')

# Overview The Input Data

In [7]:
Online_Retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [8]:
# Checking the Info;
Online_Retail.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [9]:
Online_Retail.shape

(541909, 8)

In [10]:
# Firstly we have convert date into date time format;
Online_Retail['InvoiceDate'] = pd.to_datetime(Online_Retail.InvoiceDate)
Online_Retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [11]:
# Describe function
Online_Retail.describe ()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
# Need to see first 20 reords
Online_Retail.head (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

In [ ]:
# Need to see last 20 reords
Online_Retail.head (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

In [ ]:
# Need to see sample 20 reords
Online_Retail.sample (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
237759,557885,22667,RECIPE BOX RETROSPOT,6,2011-06-23 13:37:00,2.95,12465.0,Belgium
188111,553014,21787,RAIN PONCHO RETROSPOT,5,2011-05-12 18:49:00,0.85,13451.0,United Kingdom
24303,538349,20696,FLORAL SOFT CAR TOY,1,2010-12-10 14:59:00,7.62,NaN,United Kingdom
515248,579777,85174,S/4 CACTI CANDLES,1,2011-11-30 15:13:00,10.79,NaN,United Kingdom
24569,538349,22341,LOVE GARLAND PAINTED ZINC,1,2010-12-10 14:59:00,1.64,NaN,United Kingdom
121771,546782,21524,DOORMAT SPOTTY HOME SWEET HOME,2,2011-03-17 09:13:00,7.95,15291.0,United Kingdom
106132,545312,22055,MINI CAKE STAND HANGING STRAWBERY,3,2011-03-01 13:51:00,1.65,15456.0,United Kingdom
353009,C567716,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",-1,2011-09-22 10:16:00,4.95,14543.0,United Kingdom
82901,543274,22784,LANTERN CREAM GAZEBO,2,2011-02-06 12:48:00,4.95,17392.0,United Kingdom
408876,572033,23205,CHARLOTTE BAG VINTAGE ALPHABET,10,2011-10-20 11:58:00,0.85,14447.0,United Kingdom
73708,542373,22586,FELTCRAFT HAIRBAND PINK AND BLUE,24,2011-01-27 13:38:00,0.85,16767.0,United Kingdom
310286,564172,22630,DOLLY GIRL LUNCH BOX,2,2011-08-23 14:19:00,1.95,16033.0,United Kingdom
338034,566494,22961,JAM MAKING SET PRINTED,192,2011-09-13 11:12:00,1.45,17404.0,Sweden
374986,569414,22772,PINK DRAWER KNOB ACRYLIC EDWARDIAN,12,2011-10-04 10:11:00,2.46,NaN,United Kingdom
441286,574561,23234,BISCUIT TIN VINTAGE CHRISTMAS,1,2011-11-04 15:52:00,5.79,NaN,United Kingdom
392771,570718,23390,DOLLY GIRL MINI BACKPACK,4,2011-10-12 10:36:00,4.15,12518.0,Germany
494950,578285,21935,SUKI SHOULDER BAG,1,2011-11-23 13:57:00,1.65,12748.0,United Kingdom
221549,556256,85032C,CURIOUS IMAGES GIFT WRAP SET,12,2011-06-09 17:37:00,0.65,14309.0,United Kingdom
123432,546896,21484,CHICK GREY HOT WATER BOTTLE,1,2011-03-17 18:24:00,7.46,NaN,United Kingdom
347467,567305,22728,ALARM CLOCK BAKELIKE PINK,4,2011-09-19 13:28:00,3.75,12621.0,Germany

# Checking the Null Values

In [ ]:
# Need to check the Null Entries
Online_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
# Firstly need to fill the 'No Records' in Description column and check 'No records' showing or not
Online_Retail["Description"].fillna("No Records", inplace = True)
Online_Retail.sample (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
130793,547510,21675,BUTTERFLIES STICKERS,12,2011-03-23 13:42:00,0.85,15245.0,United Kingdom
277666,561147,21641,ASSORTED TUTTI FRUTTI KEYRING BALL,48,2011-07-25 13:06:00,0.29,16841.0,United Kingdom
59206,541277,48188,DOORMAT WELCOME PUPPIES,1,2011-01-17 11:46:00,7.95,12673.0,Germany
53129,540821,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2011-01-11 13:16:00,3.36,NaN,United Kingdom
346561,567189,23315,IVORY REFECTORY CLOCK,2,2011-09-19 09:10:00,9.95,17069.0,United Kingdom
82047,543187,22720,SET OF 3 CAKE TINS PANTRY DESIGN,3,2011-02-04 11:43:00,4.95,14778.0,United Kingdom
222472,556428,20712,JUMBO BAG WOODLAND ANIMALS,7,2011-06-10 13:23:00,4.13,NaN,United Kingdom
217488,555924,22326,ROUND SNACK BOXES SET OF4 WOODLAND,1,2011-06-07 17:12:00,5.79,NaN,United Kingdom
338578,566561,22274,FELTCRAFT DOLL EMILY,6,2011-09-13 12:13:00,2.95,18145.0,United Kingdom
285014,561894,21984,PACK OF 12 PINK PAISLEY TISSUES,1,2011-07-31 15:00:00,0.29,14456.0,United Kingdom
249089,558881,21787,RAIN PONCHO RETROSPOT,24,2011-07-04 14:36:00,0.85,12705.0,Germany
318879,564838,23330,DECORATIVE WICKER HEART MEDIUM,2,2011-08-30 12:43:00,2.46,NaN,United Kingdom
462920,576045,22267,EASTER DECORATION EGG BUNNY,12,2011-11-13 14:42:00,0.39,15022.0,United Kingdom
58128,541220,22629,SPACEBOY LUNCH BOX,192,2011-01-14 14:11:00,1.65,14156.0,EIRE
323964,565381,23066,SMALL DECO JEWELLERY STAND,2,2011-09-02 15:23:00,8.25,16173.0,United Kingdom
143724,548711,22197,SMALL POPCORN HOLDER,3,2011-04-03 14:24:00,0.85,18116.0,United Kingdom
8699,537144,15060B,FAIRY CAKE DESIGN UMBRELLA,1,2010-12-05 13:00:00,3.75,15880.0,United Kingdom
312715,564367,15056P,EDWARDIAN PARASOL PINK,9,2011-08-25 09:18:00,5.95,12712.0,Germany
6860,536982,21669,BLUE STRIPE CERAMIC DRAWER KNOB,8,2010-12-03 14:27:00,3.36,NaN,United Kingdom
369245,569021,23206,LUNCH BAG APPLE DESIGN,10,2011-09-30 09:40:00,1.65,15321.0,United Kingdom

In [ ]:
# Again check the null values
Online_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
# Now handled null values in Customer_ID column
Online_Retail_1 =Online_Retail.dropna(subset=['CustomerID'])
Online_Retail_1.sample (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
422259,573074,22585,PACK OF 6 BIRDY GIFT TAGS,12,2011-10-27 14:03:00,1.25,16265.0,United Kingdom
166115,550899,22699,ROSES REGENCY TEACUP AND SAUCER,6,2011-04-21 12:07:00,2.95,13505.0,Switzerland
17648,537772,22326,ROUND SNACK BOXES SET OF4 WOODLAND,1,2010-12-08 12:35:00,2.95,18043.0,United Kingdom
57677,541216,21242,RED RETROSPOT PLATE,4,2011-01-14 13:52:00,1.69,15311.0,United Kingdom
217776,C555935,21084,SET/6 COLLAGE PAPER CUPS,-24,2011-06-08 09:14:00,0.19,12567.0,France
346226,567183,21807,WHITE CHRISTMAS STAR DECORATION,36,2011-09-18 15:32:00,0.42,14769.0,United Kingdom
533139,581015,23416,CHAMBRE HOOK,12,2011-12-07 09:35:00,0.39,13949.0,United Kingdom
426409,573348,21034,REX CASH+CARRY JUMBO SHOPPER,2,2011-10-30 12:27:00,0.95,14487.0,United Kingdom
334164,566233,23345,DOLLY GIRL BEAKER,12,2011-09-11 11:04:00,1.25,12635.0,Germany
358797,568163,23395,BELLE JARDINIERE CUSHION COVER,2,2011-09-25 12:34:00,3.75,14540.0,United Kingdom
267994,560368,84637,KITCHEN FLOWER POTS WALL PLAQUE,1,2011-07-18 12:25:00,5.95,17841.0,United Kingdom
352861,567698,23388,WOODLAND MINI BACKPACK,4,2011-09-22 09:15:00,4.15,13529.0,United Kingdom
440196,574514,21879,HEARTS GIFT TAPE,5,2011-11-04 13:34:00,0.65,15311.0,United Kingdom
276655,561068,21242,RED RETROSPOT PLATE,8,2011-07-24 14:33:00,1.69,13116.0,United Kingdom
98082,544667,77101A,UNION FLAG WINDSOCK,288,2011-02-22 15:09:00,1.06,17511.0,United Kingdom
418497,572726,21908,CHOCOLATE THIS WAY METAL SIGN,2,2011-10-25 15:19:00,2.10,16056.0,United Kingdom
101377,544916,22994,TRAVEL CARD WALLET RETROSPOT,10,2011-02-24 15:42:00,0.42,17377.0,United Kingdom
426966,573373,22566,FELTCRAFT HAIRBAND PINK AND PURPLE,1,2011-10-30 13:37:00,0.85,14684.0,United Kingdom
425794,573338,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2011-10-30 11:47:00,6.95,14546.0,United Kingdom
303857,563556,20725,LUNCH BAG RED RETROSPOT,10,2011-08-17 13:31:00,1.65,17706.0,United Kingdom

In [ ]:
Online_Retail_1.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# Checking the Duplicate Values

In [ ]:
# Now need to check the duplicate records
Online_Retail_1.duplicated().sum()

5225

In [ ]:
# Remove these duplicates using drop function
Online_Retail_1 = Online_Retail_1.drop_duplicates()

In [ ]:
Online_Retail_1.duplicated().sum()

0